[package]
name = "brother_ql"
version = "1.1.0"
description = "Generate Brother QL Raster Command data from images"
edition = "2021"
license = "MIT"
authors = ["Maximilian Kienitz <contact@kienitz.dev>"]
repository = "https://github.com/mkienitz/brother_ql"
exclude = [
	"flake.nix",
	"flake.lock",
	".envrc",
]

[dependencies]
bitflags = "2.10.0"
image = "0.25.2"
itertools = { version = "0.14.0", features = ["use_alloc"] }
serde = { version = "1.0.210", features = ["derive"], optional = true }
thiserror = "2.0.17"

[features]
serde = ["dep:serde"]
